<ul>
  <% @tags.reverse_each do |tag| %>
    <code>
      <a href="<%= File.join(['/', @repo, 'tree', tag.name.split('/').last]) %>">
        <li><%= tag.name.split('/').last %></li>
      </a>
    </code>
  <% end %>
</ul>
